In [7]:
# 7. Tratamiento de valores nulos
# df.isnull(): Ver dónde hay valores nulos.
# df.dropna(): Eliminar filas con valores nulos.
# df.fillna(value): Rellenar valores nulos con un valor específico.

import pandas as pd 

data = {
    'NOMBRE': ['enoc', 'carlos', 'roberto', 'Alaberto'],
    'APELLIDO': ['rubio', 'cardenas', 'esparado', 'Sincope'],
    'EDAD': ['22', '34', '55', '22']
} 

df = pd.DataFrame(data=data, index=None)

print(df.isnull())
print("")
print(df.dropna())
print("")
print(df.fillna("Hola"))

   NOMBRE  APELLIDO   EDAD
0   False     False  False
1   False     False  False
2   False     False  False
3   False     False  False

     NOMBRE  APELLIDO EDAD
0      enoc     rubio   22
1    carlos  cardenas   34
2   roberto  esparado   55
3  Alaberto   Sincope   22

     NOMBRE  APELLIDO EDAD
0      enoc     rubio   22
1    carlos  cardenas   34
2   roberto  esparado   55
3  Alaberto   Sincope   22